* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
body {
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    height: 1024px;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 217px;

    &__title {
        
        padding-bottom: 32px;
        max-width: 789px;
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        color: #FFFFFF;

        &_small {
            font-size: 48px;
            line-height: 59px;
        }
    }

    &__text {
        max-width: 481px;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        padding-bottom: 44px;

        &_bold {
            font-weight: bold;
        }

        &_small {
            padding-bottom: 32px;
            font-weight: 300;
            max-width: 584px;
        }
    }

    &__button {
        width: 234px;
        height: 49px;
        background: #9C0332;
        border-radius: 30px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        text-align: center;
        border: none;
        transition: all .5s;

        &:hover {
            background: #EB443F;
            border-radius: 30px;        }
    }
}

.game {
    min-height: 556px;
    background: #000915;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    align-content: center;

    &__item {
        width: 377px;
        height: 300px;
        position: relative;
        transition: all .5s;

        &:hover {
            transform: scale(1.05);
            border: 3px solid #44D2FF;
            border-radius: 16px;
            box-sizing: border-box;
        }
    }

        &__link {
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: #FFFFFF;
            position: absolute;
            z-index: 1;
            left: 32px;
            bottom: 32px;
        }    

        &__img {
            width: 100%;
            height: 100%;
        }
    }

    .seasons {
        min-height: 800px;
        background: #000915;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        row-gap: 64px;

        &__box {
            width: 584px;
            display: flex;
            flex-direction: column;
        }
        &__img {
            max-width: 480px;
            height: 333px;
            &_game1 {
               width: 100%;
            }
           
        }

    }


@import 'mobile';